@model List<LaPizzeria.Models.DTO.CheckoutDTO>

    @{
    ViewData["Title"] = "AllOrders";
}

<h1>All Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Address</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.Address</td>
                <td>@(order.isPaid ? "Shipped" : "Pending")</td>
                <td>
                    @if (!order.isPaid)
                    {
                        <form asp-action="MarkOrderAsShipped" asp-route-orderId="@order.OrderId" method="post">
                            <button type="submit" class="btn btn-success">Mark as Shipped</button>
                            @Html.AntiForgeryToken()
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>